    <div class="view-medialist" data-ng-controller="mediactrl">
        <div data-ng-include="'app/partials/include.header.html'">
        </div>

        <div data-ng-include="'app/partials/include.alphabet.html'">
        </div>

        <div role="main">
            <ul>
                <li data-ng-repeat="file in media.files">
                    <a data-ng-href="{{file.id}}">
                        <span><img src="resources/graphics/placeholder.gif"
                                   data-ng-attr-alt="{{file.alt}}"
                                   data-src="{{file.image}}" /></span>
                        <div>
                            <p>{{file.title}}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div data-ng-include="'app/partials/include.footer.html'">
        </div>
    </div>